[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ddgs>=9.10.0",
    "fastapi[standard]>=0.128.0",
    "prisma>=0.15.0",
    "zendriver>=0.15.2",
]
